---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import HeroTitle from "@components/HeroTitle.astro";
import SectionTitle from "@components/SectionTitle.astro";
---

<Layout>
    <Container name="hero">
        <div class="relative flex flex-col-reverse items-center md:flex-row">
            <div class="flex items-center py-5 md:w-2/4">
                <img src="/CONEIC2024.webp" alt="A beatiful icon" />
            </div>
            <div class="row items-center py-5 md:w-2/4">
                <div class="text-left space-y-3">
                    <h1
                        class="text-5xl font-medium leading-none md:text-6xl text-center"
                    >
                        Congreso Nacional de Estudiantes de Ingeniería Civil de Colombia
                        Edición 2024
                    </h1>
                </div>
            </div>
        </div>
    </Container>

    <Container>
        <SectionTitle title="¡Qué viva la Ingeniería Civil!" />
    </Container>
</Layout>
