---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import SectionTitle from "../components/SectionTitle.astro";
import IconButtonBadge from "../components/IconButtonBadge.astro";
---

<Layout>
    <Container>
        <SectionTitle
            title="Congreso Nacional de Estudiantes de Ingeniería Civil"
        />
        <section class="text-lg">
            Son eventos destacados con eventos academicos, tecnicos, comerciales
            y en apoyo a los emprendimientos. Entre estos eventos tenemos las
            Asambleas Nacionales, la cena de delegados y las fiestas oficiales.
        </section>
    </Container>

    <Container>
        <SectionTitle title="Asambleas generales" />
        <section class="text-lg">
            Las asambleas anuales de la asociación se integra en los diferentes
            eventos. En éstas se toman decisiones clave como la elección de los
            cargos directivos y la proxima sede el congreso nacional.
        </section>
    </Container>

    <Container>
        <IconButtonBadge
            title="Algunas de nuestras imágenes"
            description="Nuestra actividades están enfocadas para las personas"
            button="Mira la galería"
            link="#"
            icon="/GalleryDecoration.svg"
        />
    </Container>

    <Container>
        <SectionTitle title="Jocana" />
        <section class="text-lg">
            Las Jornadas de Capacitaciones Nacionales de la asoaciación
            fortalecen las habilidades blandas, liderazgo y trabajo en equipo
            entre los estudiantes y asociados en cada capítulo afiliado.
        </section>
    </Container>

    <Container>
        <SectionTitle title="Sálidas técnicas" />
        <section class="text-lg">
            Fortalecen los conocimientos tecnicos de los diferentes asociados.
        </section>
    </Container>

    <Container>
        <SectionTitle title="Actividades sociales" />
        <section class="text-lg">
            Fortalecen y complementan la formación de los valores personales de
            cada miembro de la asociación.
        </section>
    </Container>

    <Container>
        <SectionTitle
            title="Congreso Latinoamericano de Estudiantes de Ingenieria Civil"
        />
        <section class="text-lg">
            La asociación logró tener una significativa representación en el
            COLEIC 2018 de Rio de Janeiro, trayéndose consigo la sede del mismo
            para su realización para el 2019, especificamente en la ciudad de
            Bogotá.

            La asociación tuvo la oportunidad de ser sede en dos ocaciones:
            1. VII COLEIC 2011: Cartagena, Universidad de Cartagena.
            1. XV COLEIC 2019: Bogotá, Universidad Nacional de Colombia, Universidad de los Andes y Pontificia Universidad Javeriana

        </section>
    </Container>
</Layout>
