---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import ChaptersInfo from "../components/Chapters.svelte";
import SectionTitle from "../components/SectionTitle.astro";
import HeroTitle from "../components/HeroTitle.astro";
---

<Layout>
    <Container>
        <HeroTitle
            title="Somos un equipo"
            subtitle="En la actualidad, la Asociación Nacional de Estudiantes de Ingeniería Civil de Colombia (ANEIC) opera con una red de capítulos activos distribuidos en más de 8 universidades, con más de 530 estudiantes. Cada capítulo está constituido por una junta directiva capitular y cuenta con miembros activos que participan en las actividades y proyectos de la asociación a nivel local."
        />
    </Container>

    <Container>
        <ChaptersInfo client:load />
    </Container>
    
    <Container>
        <SectionTitle title="¿Cómo crear un nuevo capítulo?" />
        <section id="new">
            <p>Siempre estamos en la búsqueda de crear nuevos capítulos</p>
        </section>
    </Container>
</Layout>
